<!-- base.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/myself.css' %}">
  {% block linkcss %} {% endblock %}
  <title>
      {% block title %}  {% endblock %}
  </title>
</head>
  <body>
    {% include "hearder.html" %}

            {% block content %}

            {% endblock %}

    {% include "footer.html" %}
  <script src="{%  static 'js/jQuery.js'  %}"></script>
  <script src="{%  static 'js/bootstrap.js'  %}"></script>
  {% block includejs %} {% endblock %}
  </body>
</html>
