<!-- news_detail_byid.html -->
{% extends "base.html" %}
{%  load staticfiles %}

{% block title %}
    {{ info.caption }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
				    <li>
					    <a href="{% url 'index' %}">首页</a>
				    </li>
                    <li class="active">
                        <a href="{% url 'News:news_top' %}">图片</a>
				    </li>
                </ul><!--面包屑导航-->
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="news-title">
                        {{ info.caption }}
                    </div>
                    <div class="news-status">
                        {{ info.author }}----{{ info.updatetime }}
                    </div>
                    <div class="news-img"><!--如何调取MEDIA中的图片-->
                        <img src="{{ MEDIA_URL }}{{ pic.path }}" alt="{{ pic.name }}">
                    </div>
                    <div class="news-content">
                        {{ info.content|cut:'　'|cut:' '|linebreaks }}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}