<!--documentdb_main.html-->
{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
    文献资源数据库--期刊
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div>
                <div class="col-sm-3">
                    <div class="list-group side-bar">
                        <a class="list-group-item periodical-list-item active">期刊</a>
                        <a class="list-group-item periodical-list-item">学位论文</a>
                        <a class="list-group-item periodical-list-item">报纸</a>
                        <a class="list-group-item periodical-list-item">图书</a>
                        <a class="list-group-item periodical-list-item" >其他文献资源</a>
                    </div>
                </div>
                <div class="col-sm-9">
                    {% for item in page %}
                        <div class="panel panel-info">
				            <div class="panel-heading ">
					           <div class="panel-title periodical-panel-title">
                                   {{ item.caption }}
                               </div>
                            </div>
				            <div class="panel-body periodical-panel-body">
					            {{ item.abstract|truncatechars:150 }}
                            </div>
				            <div class="panel-footer periodical-panel-footer">
                                <span>作者：</span><cite>{{ item.author }}</cite>
                                <span class="pull-right">文献来源：<cite>{{ item.source  }}({{ item.year }})</cite></span>
                            </div>
			            </div>
                        <hr>
                    {% empty %}

                        暂无数据
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col-sm-3 " ></div>
                <div class="col-sm-9" >
                    <ul class="pagination periodical-paginator">
                            <li>
                                 <a href={%  url 'DocumentDB:periodical_main'  %}><span class="glyphicon glyphicon-fast-backward"></span></a>
                            </li>
				            <li>
                                {% if item.has_previous %}
					                <a href="#">Prev</a>
                                {% else %}
                                    <a href="javascript:void(0);">Prev</a>
                                {% endif %}
				            </li>
                            <li>
                                 <a href="javascript:void(0);">{{ page_num }}</a>
                            </li>
                            <li>
                                {% if item.has_next %}
                                    <a href="#">Next</a>
                                {% else %}
                                    <a href="javascript:void(0);">Next</a>
                                {% endif %}
                            </li>
                            <li>
                                 <a href="{% url 'DocumentDB:periodical_main' num_pages %}"><span class="glyphicon glyphicon-fast-forward"></span></a>
                            </li>
                        </ul>

                </div>
            </div>
        </div>
    </div>

{% endblock %}