<!--documentdb_main.html-->
{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
    口述史料库
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                <div class="col-sm-12">
                    <ul class="breadcrumb">
				        <li>
					    <a href="{% url 'index' %}">首页</a>
				    </li>
                        <li class="active">
					        口述史料库
				        </li>
                    </ul><!--面包屑导航-->
                </div>
            </div>
            <div>
                <div class="col-sm-3"><!--左侧导航栏-->
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% url 'DictateDB:operatext' %}">戏曲文本</a></li>
                        <li><a href="{% url 'DictateDB:folksong' %}">歌谣</a></li>
                        <li><a href="{% url 'DictateDB:songbook' %}">歌册</a></li>
                        <li><a href="{% url 'DictateDB:southernmusic' %}">南音曲谱</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    {% block document_content %}
                        <table class="table table-striped">
				            <thead>
					            <tr>
                                    <th></th>
						            <th>
                                        <span style="color:red;font-size:20px;">共有口述史料：</span>
						            </th>
						            <th></th>
                                    <th>
                                        <span style="color:red;font-size:20px;">{{ dictatedb_count }}篇</span>
                                    </th>
                                </tr>
				            </thead>
				            <tbody>
					            <tr class="info" >
						            <td>
						            </td>
						            <td>
                                        <a href="{% url 'DictateDB:operatext' %}">戏曲文本</a>
						            </td>
						            <td>
						            </td>
						            <td>
							            {{ operatext_count }}
						            </td>
					            </tr>
					            <tr class="success">
						<td>
						</td>
						<td>
                            <a href="{% url 'DictateDB:folksong' %}">歌谣</a>
						</td>
						<td>
						</td>
						<td>
							{{ folksong_count }}
						</td>
					</tr>
					            <tr class="info">
						<td>
						</td>
						<td>
                            <a href="{% url 'DictateDB:songbook' %}">歌册</a>
						</td>
						<td>
						</td>
						<td>
							{{ songbook_count }}
						</td>
					</tr>
					            <tr class="success">
						<td>
						</td>
						<td>
                            <a href="{% url 'DictateDB:southernmusic' %}">南音曲谱</a>
						</td>
						<td>
						</td>
						<td>
							{{ southernmusic_count }}
						</td>
					</tr>
				            </tbody>
			            </table>
                    {% endblock %}
                </div>
            </div>
            <div>
                <div class="col-sm-12" >
                    {% block pagediv %}{% endblock %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}