<!--periodical.html-->
{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
    搜索{{ skey }}结果
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                <div class="col-sm-12">
                    <ul class="breadcrumb">
				        <li>
					        口述史料戏曲文本库
				        </li>
                        <li>
                            搜索关键字词"<strong style="color:red;">{{ skey }}</strong>"，共获得<strong style="color:red;">{{ count }}</strong>条查询结果。
                        </li>

                    </ul><!--面包屑导航-->
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                    {% block document_content %}
                        <table class="table table-bordered">
				            <thead>
					            <tr>
                                    <th>
                                        <span style="color:darkblue;font-size:20px;">戏曲名</span>
						            </th>
                                    <th>
                                        <span style="color:darkblue;font-size:20px;">作者</span>
						            </th>
						            <th>
                                        <span style="color:darkblue;font-size:20px;">资料来源</span>
                                    </th>
                                    <th>
                                        <span style="color:darkblue;font-size:20px;">页数</span>
                                    </th>
                                </tr>
				            </thead>
				            <tbody>
                                {% for item in cur_dissertation %}
					                <tr class="" >
						            <td>
                                        <a href="{% url 'DictateDB:operatext_detail'  item.id  %} " target='view_windows'>{{ item.Title }}</a>
						            </td>
                                    <td>
                                        {{ item.Author }}
						            </td>
						            <td>
                                        {{ item.From }}
						            </td>
						            <td>
							            {{ item.Memo }}
						            </td>
					            </tr>
                                {% empty %}
                                    抱歉！暂无数据
                                {% endfor %}
				            </tbody>
			            </table>
                    {% endblock %}
        </div>
        </div>


            <div>
                <div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        {% block pagediv %}
                            <ul class="pager">
                                {% if cur_dissertation.number == 1 %}
                                    <li class="disabled">
                                        <span>首页</span>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{% url 'DictateDB:operatext_by_title' %}?page=1&skey={{ skey }}">首页</a>
                                    </li>
                                {% endif %}
                                {% if cur_dissertation.has_previous %}
                                    <li>
                                        <a href=" {% url 'DictateDB:operatext_by_title' %}?page={{ cur_dissertation.previous_page_number }}&skey={{ skey }}" >上一页</a>
                                    </li>
                                {% else %}
                                    <li class="disabled">
                                        <span>上一页</span>
                                    </li>
                                {% endif %}

                                <li>
                                    <span>{{ cur_dissertation.number }}&nbspof&nbsp{{ cur_dissertation.paginator.num_pages }}</span>
                                </li>
                                {% if cur_dissertation.has_next %}
                                    <li>
                                        <a href="{% url 'DictateDB:operatext_by_title' %}?page={{ cur_dissertation.next_page_number }}&skey={{ skey }}">下一页</a>
                                    </li>
                                {% else %}
                                    <li class="disabled">
                                        <span>下一页</span>
                                    </li>
                                {% endif %}
                                {% if cur_dissertation.number == cur_dissertation.paginator.num_pages %}
                                    <li class="disabled">
                                        <span>末页</span>
                                    </li>
                                {% else %}
                                    <li>
    	                                <a href="{% url 'DictateDB:operatext_by_title' %}?page={{ cur_dissertation.paginator.num_pages }}&skey={{ skey }}">末页</a>
                                    </li>
                                {% endif %}
                                <li>
                                    GO<input type="text" size="2">
                                </li>

                            </ul>
                        {% endblock %}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}