<!--documentdb_main.html-->
{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
    文献资料数据库
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                <div class="col-sm-12">
                    <ul class="breadcrumb">
				        <li>
					    <a href="{% url 'index' %}">首页</a>
				    </li>
                        <li class="active">
					        文献资料库
				        </li>
                    </ul><!--面包屑导航-->
                </div>
            </div>
            <div>
                <div class="col-sm-3"><!--左侧导航栏-->
                    <ul class="nav nav-pills nav-stacked">
                        <li id="left-navbar">
                            <a href="{% url 'DocumentDB:periodical' %}">期刊
                                <span class="pull-right" style="border:none" data-toggle="collapse" data-parent="#left-navbar" href="#collapseone">
                                    <span class="glyphicon glyphicon-list "></span>
                                </span>
                                <ul id="collapseone"  class="nav nav-pills nav-stacked collapse" >
                                    <li><a class="text-center" href="">民间传说</a></li>
                                    <li><a class="text-center" href="">民间歌谣</a></li>
                                    <li><a class="text-center" href="">民间故事</a></li>
                                    <li><a class="text-center" href="">民间谚（谜）语</a></li>
                                    <li><a class="text-center" href="">戏曲</a></li>
                                    <li><a class="text-center" href="">其他</a></li>
                                </ul>
                            </a>
                        </li>
                        <li id="left-navbar-lw">
                            <a href="{% url 'DocumentDB:dissertation' %}">学位论文
                                <span class="pull-right" style="border:none" data-toggle="collapse" data-parent="#left-navbar-lw" href="#collapseone-lw">
                                    <span class="glyphicon glyphicon-list "></span>
                                </span>
                                <ul id="collapseone-lw"  class="nav nav-pills nav-stacked collapse" >
                                    <li><a class="text-center" href="">民间传说</a></li>
                                    <li><a class="text-center" href="">民间歌谣</a></li>
                                    <li><a class="text-center" href="">民间故事</a></li>
                                    <li><a class="text-center" href="">民间谚（谜）语</a></li>
                                    <li><a class="text-center" href="">戏曲</a></li>
                                    <li><a class="text-center" href="">其他</a></li>
                                </ul>
                            </a>
                        </li>
                        <li><a href="{% url 'DocumentDB:conferencepapers' %}">会议论文</a></li>
                        <li><a href="{% url 'DocumentDB:books' %}">图书</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    {% block document_content %}
                        <table class="table table-striped">
				            <thead>
					            <tr>
                                    <th></th>
						            <th>
                                        <span style="color:red;font-size:20px;">共有文献资料：</span>
						            </th>
						            <th></th>
                                    <th>
                                        <span style="color:red;font-size:20px;">77777条</span>
                                    </th>
                                </tr>
				            </thead>
				            <tbody>
					            <tr class="warning" >
						            <td>
						            </td>
						            <td>
                                        <a href="{% url 'DocumentDB:periodical' %}">期刊</a>
						            </td>
						            <td>
						            </td>
						            <td>
							            Default
						            </td>
					            </tr>
					            <tr class="success">
						<td>
						</td>
						<td>
                            <a href="{% url 'DocumentDB:dissertation' %}">学位论文</a>
						</td>
						<td>
						</td>
						<td>
							Approved
						</td>
					</tr>
					            <tr class="info">
						<td>
						</td>
						<td>
                            <a href="{% url 'DocumentDB:conferencepapers' %}">会议论文</a>
						</td>
						<td>
						</td>
						<td>
							Declined
						</td>
					</tr>
					            <tr class="success">
						<td>
						</td>
						<td>
                            <a href="{% url 'DocumentDB:books' %}">图书</a>
						</td>
						<td>
						</td>
						<td>
							Pending
						</td>
					</tr>
				            </tbody>
			            </table>
                    {% endblock %}
                </div>
            </div>
            <div>
                <div class="col-sm-12" >
                    {% block pagediv %}{% endblock %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}