p{
    text-indent: 2em;
}
.footer
{
    margin-top : 20px;
    padding : 0 50px;
    color : #777;
    text-align: center;

}


.news-title{
    font-size:40px;
    font-weight:bold;
    line-height:1.5;

}

.news-status{
    margin-top:10px;
    font-size:8px;
    color: #a9a9a9;

}
.news-img {
    margin:10px auto;
}
.news-img img{
    display: block;
    width:70%;
    border-radius: 3px;
    margin: auto auto;
}
.news-content{
    font-size :20px;
    line-height:1.3;
}