<!--periodical.html-->
{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
    搜索
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div>
                <div class="col-sm-3"><!--左侧导航栏-->

                </div>
                <div class="col-sm-6">
                    {% block document_content %}
                        <div style="margin-top: 28%;text-align: center;background-color: #31b0d5">
                            <form action="" method="post">
                                {% csrf_token %}
                                <span>
                                    <input type="text" class="form-control" name="searchwhat" placeholder="搜索标题"style="width:80%;display: inline">
                                    <button style="display:inline;float:right;" class="btn-primary btn-group-lg" type="submit" ><span class="glyphicon glyphicon-search"></span></button>

                                </span>
                            </form>
                        </div>

                    {% endblock %}
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        </div>
    </div>

{% endblock %}