<!--documentdb_main.html-->
{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
    影音资料库
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                <div class="col-sm-12">
                    <ul class="breadcrumb">
				        <li>
					    <a href="{% url 'index' %}">首页</a>
				        </li>
                        <li>
                            <a href="{% url 'AudiovisualDB:audiovisualdb_main' %}">影音资料库</a>
				        </li>
                        <li class="active">
                            音频库
                        </li>
                    </ul><!--面包屑导航-->
                </div>
            </div>
            <div>
                <div class="col-sm-3"><!--左侧导航栏-->
                    <ul class="nav nav-pills nav-stacked">
                        <li id="left-navbar">
                            <a href="{% url 'DocumentDB:periodical' %}">视频库
                                <span class="pull-right" style="border:none" data-toggle="collapse" data-parent="#left-navbar" href="#collapseone">
                                    <span class="glyphicon glyphicon-list "></span>
                                </span>
                                <ul id="collapseone"  class="nav nav-pills nav-stacked collapse" >
                                    <li><a class="text-center" href="">戏曲</a></li>
                                    <li><a class="text-center" href="">闽南童谣</a></li>
                                </ul>
                            </a>
                        </li>
                        <li id="left-navbar-lw">
                            <a href="{% url 'DocumentDB:dissertation' %}">音频库
                                <span class="pull-right" style="border:none" data-toggle="collapse" data-parent="#left-navbar-lw" href="#collapseone-lw">
                                    <span class="glyphicon glyphicon-list "></span>
                                </span>
                                <ul id="collapseone-lw"  class="nav nav-pills nav-stacked collapse" >
                                    <li><a class="text-center" href="">闽南歌谣</a></li>
                                    <li><a class="text-center" href="">闽南故事</a></li>
                                    <li><a class="text-center" href="">闽南顺口溜</a></li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    {% block document_content %}
                        <table class="table table-striped">
				            <thead>
					            <tr>
                                    <th></th>
						            <th>
                                        <span style="color:red;font-size:20px;">共有影音资料：</span>
						            </th>
						            <th></th>
                                    <th>
                                        <span style="color:red;font-size:20px;">{{ audiovisualdb_count }}</span>
                                    </th>
                                </tr>
				            </thead>
				            <tbody>
					            <tr class="info" >
						            <td>
						            </td>
						            <td>
                                        <a href="{% url 'DocumentDB:periodical' %}">视频</a>
						            </td>
						            <td>
						            </td>
						            <td>
							            {{ video_count }}
						            </td>
					            </tr>
					            <tr class="success">
						<td>
						</td>
						<td>
                            <a href="{% url 'DocumentDB:dissertation' %}">音频</a>
						</td>
						<td>
						</td>
						<td>
							{{ audio_count }}
						</td>
					</tr>

				            </tbody>
			            </table>
                    {% endblock %}
                </div>
            </div>
            <div>
                <div class="col-sm-12" >
                    {% block pagediv %}{% endblock %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}