<!--documentdb_main.html-->
{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
    影音资料库
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                <div class="col-sm-12">
                    <ul class="breadcrumb">
				        <li>
					    <a href="{% url 'index' %}">首页</a>
				        </li>
                        <li>
                            <a href="{% url 'AudiovisualDB:audiovisualdb_main' %}">影音资料库</a>
				        </li>
                        <li class="active">
                            音频库
                        </li>
                    </ul><!--面包屑导航-->
                </div>
            </div>
            <div>
                <div class="col-sm-3"><!--左侧导航栏-->
                    <ul class="nav nav-pills nav-stacked">
                        <li id="left-navbar">
                            <a href="{% url 'AudiovisualDB:video' %}">视频库
                                <span class="pull-right" style="border:none" data-toggle="collapse" data-parent="#left-navbar" href="#collapseone">
                                    <span class="glyphicon glyphicon-list "></span>
                                </span>
                                <ul id="collapseone"  class="nav nav-pills nav-stacked collapse" >
                                    <li><a class="text-center" href="{% url 'AudiovisualDB:video_XQ'%}">戏曲</a></li>
                                    <li><a class="text-center" href="{% url 'AudiovisualDB:video_TY'%}">闽南童谣</a></li>
                                    <li><a class="text-center" href="{% url 'AudiovisualDB:video_SJ'%}">念四句</a></li>
                                    <li><a class="text-center" href="{% url 'AudiovisualDB:video_SG'%}">山歌</a></li>
                                    <li><a class="text-center" href="{% url 'AudiovisualDB:video_CT'%}">古泉州刺桐史</a></li>
                                </ul>
                            </a>
                        </li>
                        <li id="left-navbar-lw">
                            <a href="{% url 'AudiovisualDB:audio' %}">音频库
                                <span class="pull-right" style="border:none" data-toggle="collapse" data-parent="#left-navbar-lw" href="#collapseone-lw">
                                    <span class="glyphicon glyphicon-list "></span>
                                </span>
                                <ul id="collapseone-lw"  class="nav nav-pills nav-stacked collapse" >
                                    <li><a class="text-center" href="{% url 'AudiovisualDB:audio_GY'%}">闽南歌谣</a></li>
                                    <li><a class="text-center" href="{% url 'AudiovisualDB:audio_GS'%}">闽南故事</a></li>
                                    <li><a class="text-center" href="{% url 'AudiovisualDB:audio_KL'%}">闽南顺口溜</a></li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    {% block document_content %}
                        <table class="table table-bordered">
				            <thead>
					            <tr>
                                    <th>
                                        <span style="color:dimgrey;font-size:20px;"><p class="text-center text-primary">音频名</p></span>
						            </th>
                                    <th>
                                        <span style="color:dimgrey;font-size:20px;"><p class=" text-primary">分类</p></span>
						            </th>
						            <th>
                                        <span style="color:dimgrey;font-size:20px;"><p class="text-primary">播放器</p></span>
                                    </th>
                                </tr>
				            </thead>
				            <tbody>
                                {% for item in cur_dissertation %}
					                <tr class="" >
						            <td>
                                        <div style="height:50%;">
                                            <p class="text-center text-info" style="font-size: 17px;">
                                                {{ item.Title }}
                                            </p>
                                        </div>

						            </td>
						            <td>
                                        <p class="text-info" style="text-align: center;font-size:17px; ">
                                            {{ item.TypeOf }}
                                        </p>

						            </td>
						            <td>
                                        <audio controls>
                                            <source src="{{ MEDIA_URL }}{{ item.FilePath }}" type="audio/mp3">
                                        </audio>
						            </td>
					            </tr>
                                {% empty %}
                                    抱歉！暂无学位论文数据
                                {% endfor %}
				            </tbody>
			            </table>
                    {% endblock %}
                </div>
            </div>
            <div>
                <div class="col-sm-12" >
                    {% block pagediv %}
                        <ul class="pager">
                                {% if cur_dissertation.number == 1 %}
                                    <li class="disabled">
                                        <span>首页</span>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="?page=1">首页</a>
                                    </li>
                                {% endif %}
                                {% if cur_dissertation.has_previous %}
                                    <li>
                                        <a href="?page={{ cur_dissertation.previous_page_number }}">上一页</a>
                                    </li>
                                {% else %}
                                    <li class="disabled">
                                        <span>上一页</span>
                                    </li>
                                {% endif %}

                                <li>
                                    <span>{{ cur_dissertation.number }}&nbspof&nbsp{{ cur_dissertation.paginator.num_pages }}</span>
                                </li>
                                {% if cur_dissertation.has_next %}
                                    <li>
                                        <a href="?page={{ cur_dissertation.next_page_number }}">下一页</a>
                                    </li>
                                {% else %}
                                    <li class="disabled">
                                        <span>下一页</span>
                                    </li>
                                {% endif %}
                                {% if cur_dissertation.number == cur_dissertation.paginator.num_pages %}
                                    <li class="disabled">
                                        <span>末页</span>
                                    </li>
                                {% else %}
                                    <li>
    	                                <a href="?page={{ cur_dissertation.paginator.num_pages }}">末页</a>
                                    </li>
                                {% endif %}
                                <li>
                                    GO<input type="text" size="2">
                                </li>

                            </ul>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}